.banner {
    line-height: 0;
    margin: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
}
.banner__background {
    aspect-ratio: 5/1.5;
    margin-bottom: 0px;
    object-fit: cover;
    width: 100%;
}
.banner__background_gradient {
    background: linear-gradient(to bottom, transparent, rgba(16, 20, 34, 1));
    bottom: 0;
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;
}
.banner__info {
    bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    left: 67px;
    position: absolute;
}
.banner__info > span {
    flex-grow: 1;
}
.banner__title {
    font-size: 3rem;
    font-weight: 500;
}
.banner__author {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.25rem;
    font-weight: 400;
}

.banner__button {
    background-color: #101422;
    border: none;
    border-radius: 16px;
    bottom: 50px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-family: 'Maitree', Arial, Sans-Serif;
    font-size: 2rem;
    font-size: 2rem;
    font-weight: 500;
    outline: none;
    padding: 12px 16px;
    position: absolute;
    right: 67px;
    transition: transform 0.2s;
}

.banner__button:hover {
    transform: translate(0, -3px);
}
