.header {
    align-items: center;
    background-color: var(--primary-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 56px;
    padding: 0 67px;
    position: fixed;
    width: 100%;
    z-index: 1998;
}

.header > * {
    cursor: pointer;
    transition: text-shadow 0.2s;
}

.header > *:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.header__logo {
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: 16px;
}

.header__label {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    margin-left: 24px;
    text-decoration: none;
}

.header__icon {
    fill: #fff;
    height: 20px;
    margin: 0 16px;
    transition: filter 0.2s;
    width: 20px;
}

.header__icon:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
}

.header__icon_first {
    height: 16px;
    margin-left: auto;
    width: 16px;
}

.header__label_auth {
    margin-left: 24px;
}
