.buttonSearch {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    color: #101422;
    cursor: pointer;
    font-family: 'Maitree', Arial, Sans-Serif;
    font-size: 0.875rem;
    font-weight: 700;
    height: 44px;
    outline: none;
    padding: 12px 40px;
    transition: box-shadow 0.2s;
}

.buttonSearch:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
