.authorsPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 56px 55px;
}
.authorsPage__label {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 32px;
}
.authorsPage__authors {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}
.authorsPage__authors > li {
    margin-top: 16px;
    max-width: 200px;
}
.authorsPage__result_label {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 32px;
}
