.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 56px 55px;
}
.lastest__label {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 32px;
    padding-left: 12px;
}
.lastest__listComic {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}
